.answers{
  width: 200px;
}

.moreQuestions {
  display: none;
}
  #title{
 color: blue;  
 font-family: impact;
 font-size: 70px;
 text-align: center;
}

#play_button{
 display: block;
 margin: 0 auto;
 background: #13CCC1;
 border: 4px dashed white;
 font-size: 35px;
 border: 3px dotted black;
}

#play_button:hover {
 background: #FF2A00;
 border: 3px dashed black;
}

